<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my-2 d-flex justify-content-center">
    <h2>All Flashcards</h2>
</div>
<div class="container">
    <div th:object="${f}" th:each="f: ${formDataAll}"
         class="my-3 border-secondary card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="col-10">
                    <span th:text="*{title}">Title</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p th:text="*{description}" class="card-text"></p>
        </div>
        <div class="card-body">
            <img class="card-text" th:src="*{imageURL}" alt="">
        </div>
    </div>
</div>
</body>
</html>