<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my-2 d-flex justify-content-center">
    <h2>All Flashcards</h2>
</div>
<div class="container">
    <div th:object="${f}" th:each="f: ${formDataAll}"
         class="my-3 border-secondary card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="col-10">
                    <span th:text="*{title}">Title</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p th:text="*{description}" class="card-text"></p>
        </div>
        <div class="card-body">
            <img class="card-text" th:src="*{imageURL}" alt="">
        </div>
            <form id="formAdd"
                  th:action="@{/flashcard/add-existing}"
                  th:method="post">
                <input id="addId" th:name="title" th:value="*{title}" type="hidden" value=""/>
                <button id="btnAdd" type="submit" class="btn btn-primary">Add</button>
            </form>
        <div sec:authorize="hasRole('ADMIN')">
            <form id="formDelete"
                  th:action="@{/flashcard/delete}"
                  th:method="delete">
                <input id="deleteId" th:name="deleteId" th:value="*{title}" type="hidden" value=""/>
                <button id="btnDelete" type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>