<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>

<div class="my-2 d-flex justify-content-center">
    <h2>This section is for comments and feedback</h2>
</div>

<div class="container">
    <div th:each="comment: ${comments}" th:object="${comment}"
         class="my-3 border-secondary card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="col-10">
                    <span th:text="*{comment}">Title</span>
                    <small>
                        <em>
                            (Date: <span th:text="*{#dates.format(timestamp, 'dd-MM-yyyy HH:mm:ss')}">1979-03-07</span>)
                        </em>
                    </small>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p th:text="|Left by: *{leftBy}|" class="card-text"></p>
        </div>
    </div>
</div>

</body>
</html>