<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my-2 d-flex justify-content-center">
    <h2>All players</h2>
</div>
<div class="container">
    <div th:object="${f}" th:each="f: ${players}"
         class="my-3 border-secondary card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="col-10">
                    <span th:text="*{email}">Name</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>