<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div class="container center">
  <div class="card">
    <article class="card-body">
      <form th:action="@{/registration}" method="POST" th:object="${formData}">
        <div class="form-group">
          <label for="email">Email</label>
          <input
              name="email"
              th:value="*{email}"
              th:errorclass="is-invalid"
              type="email"
              placeholder="Email"
              class="form-control"
              id="email"/>
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
              name="password"
              type="password"
              th:errorclass="is-invalid"
              placeholder="Password"
              class="form-control"
              id="password"/>
        </div> <!-- form-group// -->
        <div class="form-group">
          <label for="passwordConfirm">Repeat Password</label>
          <input
              name="passwordConfirm"
              type="password"
              th:errorclass="is-invalid"
              placeholder="Repeat password"
              class="form-control"
              id="passwordConfirm"/>
        </div>
        <!-- form-group// -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div> <!-- form-group// -->
          </div>
        </div> <!-- .row// -->
      </form>
    </article>
  </div> <!-- card.// -->

</div>
</body>
</html>
